DJANGO_DEBUG=True
DATABASE_URL=sqlite:///db.sqlite3
#DATABASE_URL=postgres://postgres:postgres@db:5432/postgres  # when using PostgreSQL via docker-compose
TELEGRAM_TOKEN=1725447442:testAATIAicSdePAxSxTHdbO1X_4hfAnONOyiA

# Адреса серверов IRIS с Web портами для выполнения запросов к Apptools-Admin пакету /apptoolsrest/products
URL_TEST2 = http://UserName:UserPassword@iris-test:52773/USER #
